## nullos/tools/grub.cfg
## Configuração do GRUB para o NullOS

set timeout=3
set default=0

insmod all_video
insmod multiboot2

menuentry "NullOS v0.5.0" {
    multiboot2 /boot/nullos.elf
    module2    /boot/ramfs.img
    boot
}

menuentry "NullOS (modo debug serial)" {
    multiboot2 /boot/nullos.elf debug
    module2    /boot/ramfs.img
    boot
}
